---
import Layout from '../layouts/Layout.astro';
import { VideoCard } from '@/components/VideoCard';
const videos_raw = await fetch('https://videostats.pages.dev/videoStats.json')
const videos_processing = await videos_raw.json()
const videos_array = Object.keys(videos_processing).map(videoId => ({
  id: videoId,
  title: videos_processing[videoId].title,
  description: videos_processing[videoId].description,
  views: videos_processing[videoId].views,
  likes: videos_processing[videoId].likes,
  published: new Date(videos_processing[videoId].published),
  thumbnails: videos_processing[videoId].thumbnails,
}));
const videos = videos_array.sort((a, b) => b.published - a.published);

const videos_count = videos.length;
---

<Layout title="Home" description='Altie122' page="/">
	<main class="prose">
		<h1>Videos</h1>
    <p>There are {videos_count} videos on my channel.</p>
    <div class="grid grid-cols-1 gap-4">
      {videos.map(video => 
        <VideoCard id={video.id} title={video.title} description={video.description} views={video.views} likes={video.likes} published={video.published} thumbnails={video.thumbnails} client:only='react' />
      )}
    </div>
	</main>
</Layout>