---
const { title, url, image, date, author={id: 1, name: '', image: ''}, description } = Astro.props
---
<div class="w-fit rounded-lg bg-base-100 p-5"><a href={url}><img src={image} alt={image.alt} class=" max-w-[25vw] mx-auto" transition:name={"BlogPost" + url}/>{title}<span>{author.name}</span><br />{String(date).slice(0, 10)}<br /><span>{description}</span></a></div>