---
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;
const data = entry.data;

const author = await getEntries(entry.data.authors);
---

<Card className='w-full'>
  <CardHeader>
    <CardTitle>{data.title}</CardTitle>
    <CardDescription>{data.description}</CardDescription>
    <CardDescription>
      {data.pubDate.toLocaleDateString()} | {author.map((author) => author.data.name).join(", ")}
    </CardDescription>
  </CardHeader>
  <CardContent>
    <Image
      src={data.image.cover}
      alt={data.image.alt}
      class='rounded-lg w-full'
    />
  </CardContent>
  <CardFooter className='flex justify-between'>
    <a href={`/blog/posts/${entry.id}`}>
      <Button variant='outline' client:only='react'>Read </Button></a
    >
  </CardFooter>
</Card>
