---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description='Altie122' page="/">
  <div class="prose">
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} class="rounded-lg w-full"/>
    <h1>{frontmatter.title}</h1>
    <em>{frontmatter.description}</em>
    <br/>
    {frontmatter.pubDate.toString().slice(0, 10)}
    <br/>
    Written by: {frontmatter.author}
    <br/>
    tags: {frontmatter.tags.join(', ')}
    <hr />
    <slot />
  </div>
</Layout>