---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.BlogPost.title} description='Altie122' page="/">
  <div class="prose md:prose-lg lg:prose-xl">
  <p>{frontmatter.BlogPost.published.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.BlogPost.description}</em></p>
  <p>Written by: {frontmatter.Authors.authors}</p>
  <img src={frontmatter.BlogPost.image_url} width="300" alt={frontmatter.BlogPost.image_alt} transition:name={"BlogPost" + frontmatter.BlogPost.slug}/>
  <slot />
  </div>
</Layout>