---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
const title: string = frontmatter.title;
const description: string = frontmatter.description;
const pubDate: Date = frontmatter.pubDate;
const image: {url: string, alt: string} = frontmatter.image;
const author: string = frontmatter.author;
const tags: string[] = frontmatter.tags;
---

<Layout title={title} description='Altie122' page="/">
  <div class="prose">
    <img src={image.url} alt={image.alt} class="rounded-lg w-full"/>
    <h1>{title}</h1>
    <em>{description}</em>
    <br/>
    {pubDate.toLocaleString()}
    <br/>
    Written by: {author}
    <br/>
    tags: {tags.join(', ')}
    <hr />
    <slot />
  </div>
</Layout>